@import url(http://fonts.googleapis.com/css?family=Raleway:400,300,700);
body {
    font-family: Raleway;

   
}


 nav {
    
    background-color: #113537;
    
}

.navbar li {
    float: left;
}



.navbar li a {

    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 17px 19px;
    text-decoration: none;
    font-size: 22px;
    font-weight: normal;
    margin-right: 15px;

    
}

/* Change the link color to #111 (black) on hover */
.navbar li a:hover {
    background-color: #1D7874;
    font-weight:bold !important;
     border-top-left-radius: 6px !important;
border-bottom-left-radius: 6px !important;
     border-top-right-radius: 6px !important;
border-bottom-right-radius: 6px !important;
}

#active li a.active {

  color: white;

}


form input[name="search"] {
    width: 100px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;

}

.custom {
    width: 82px;
}

/* When the input field gets focus, change its width to 100% */
form input[name="search"]:focus {
    width: 200%;

}

#myTab {margin-right:10px;}

/* Style the search field */
form input[name="search"] {
  padding: 4px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width:100%;
  background: #f1f1f1;
  margin-left: 10px;
  margin-top: 10px;
   border-top-left-radius: 6px !important;
border-bottom-left-radius: 6px !important;

}


/* Style the submit button */
form button {
  float: left;
  width: 3%;
  padding: 4px;
  background: #81C14B;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
  position: fixed;
  margin-top: 10px;
    border-top-right-radius: 6px !important;
border-bottom-right-radius: 6px !important;
}

form button:hover {
  background: #81C14B;
}

/* Clear floats */
form::after {
  content: "";
  clear: both;
  display: table;
}

.prettyline {
  height: 5px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

.carousel-inner img {
    width: 100vw;
    height: 100vh; 
    background-size: 100% 100%;
    position: relative;
  }

.container div {
    overflow: auto;

  }

.container-images img {
       border-top-left-radius: 6px !important;
border-bottom-left-radius: 6px !important;
     border-top-right-radius: 6px !important;
border-bottom-right-radius: 6px !important;

}
